*{
    width: 1160px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;    
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


section{
    display: block;
    flex-direction: column;
}




footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1160px;
}